* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  background-image: url(/images/bg-intro-mobile.png);
  background-size: contain;
  /* height: 100%; */
  /* background-position: center; */
  background-color: hsl(0, 100%, 74%);
}

/* .mother_container{
  
} */

.section_1{
  width: 94%;
  margin: 0 auto;
}
h1{
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5rem;
}
.section_1_text{
  margin: auto;
  width: 90%;
  text-align: center;
  line-height: 1.5;
  color: white;
  /* margin-right: 3.2rem; */
}


.glow {
  font-size: 3.55rem;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #131312, 0 0 50px #602f47, 0 0 60px #e60073, 0 0 70px #e60049d2;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}







.section_2{
  width: 94%;
  margin: auto;
}
.btn1{
  margin: auto;
  width: 90%;
  margin-top: 3.4rem;
  text-align: center;
}
.btn1 button{
  background-color: hsl(248, 32%, 49%);
  padding: 0.9rem 3rem;
  color: white;
  border-radius: 10px;
  border: none;
  line-height: 1.5;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.068);
}

.btn1 :hover {
  animation: shake 3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}

.form{
  margin-top: 1rem;
  background-color: white;
  width: 90%;
  border-radius: 8px;
  border: none;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.formContainer{
  padding-top: 0.8rem;
  /* padding-left: 2rem; */
  /* padding-bottom: 2rem; */
}
input{
  margin: 0.5rem;
  padding: 1rem 1.4rem;
  padding-right: 30px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  width: 94%;
  transition: .2s;
}
input:hover{
  transform: scale(1.015);
}
::placeholder{
  color: hsl(249, 10%, 26%);
  opacity: 1;
  font-weight: 600;
}
.btn2{
  margin: auto;
  width: 90%;
  margin-top: .4rem;
  text-align: center;
}
.btn2 button{
  width: 94%;
  background-color: hsl(248, 32%, 49%);
  padding: 0.9rem 1.8rem;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border-radius: 5px;
  border: none;
  line-height: 1.5;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.068);
  transition: .5s;
}
.btn2 button:hover{
  transform: scale(.94);
  cursor: pointer;
}

.form p{
  color: hsl(246, 25%, 77%);
  font-size: 0.8rem;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 1rem;
}
span{
  color: hsl(0, 100%, 74%) ;
  font-size: 0.8rem;
}
.attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 768px) {
  .mother_container{
    margin-bottom: 3rem;
  }
  h1{
    font-size: 3rem;
    text-align: start;
    width: 80%;
    margin: 0 auto;
  }
  .section_1_text{
    width: 73%;
    text-align: start;
    
  }
  .mother_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
   button{
    width: 100%;
  }
}


@media (min-width:1257px) {
  .section_1_text{
    margin-left: 95px;
  }
}

@media (min-width: 1400px) {
  .section_1_text{
    margin-left: 133px;
  }
}
@media (min-width: 2560px) {
  .section_1_text{
    margin-left: 185px;
  }
}